boto3
botocore
chardet
Click
deepdish
idna
jmespath
joblib
jsonpatch
jsonpointer
numexpr
numpy
Pillow
python-dateutil
pyzmq
regex
requests
s3transfer
sacremoses
seqeval
scikit-learn
scipy
sentencepiece
six
scikit-learn
tables
torch
torchfile
torchvision
tornado
tqdm
transformers
urllib3
websocket-client
nltk
seqeval